<ul class="toolbar-nav pull-left">
    <li>
        <a href="javascript:void(0);" id="callOutBtn" title="{{ 'Call out'|trans }}">
            <i class="icon-call-out"></i>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" id="callOutBtn" title="{{ 'Call in'|trans }}">
            <i class="icon-call-in"></i>
        </a>

    </li>

    <li>
        <a href="javascript:void(0);" id="callOutBtn" title="{{ 'Call end'|trans }}">
            <i class="icon-call-end"></i>
        </a>

    </li>

</ul>